:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #222222;
  border: 2px solid #2A60B7;
  padding: 17px;
  padding-top: 5px;
  height: 100vh;
}

.container {
  padding: 0px;
  color: #EEEEEE;
  background: #1111;
}

.container h1 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.panels_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
  overflow: hidden;
}

.panels_container .left_panel {
  min-width: 70%;
  height: 80vh;
  flex: 1;
}

.panels_container .left_panel #wallpapers {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 10px;
  overflow-y: scroll;
  height: 100%;
}

.panels_container .right_panel {
  width: 25%;
  max-width: 300px;
  height: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.panels_container .right_panel img {
  margin: 5px;
  max-width: 90%
}

input {
  border: 1px solid #3C3B3B;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #999999;
  background-color: #090808;
  transition: border-color 0.25s;
}

button {
  background: #4183F5;
  border: 1px solid #2973F4;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #E1FFFF;
  transition: background-color 0.25s;
}

button:hover {
  background: #2973F4;
}

button {
  cursor: pointer;
}

button:active {
  background-color: #0B55D4;
  border-color: #083C95;
}

input:focus {
  border-color: #A2C2FA;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}